# Syncthing
.stfolder/
.stfolder.*/
.stversions/

# Obsidian local config
.obsidian/

# Papelera temporal
.trash/

# Entorno virtual y Python
.venv/
__pycache__/
*.pyc

# Base de datos activa local
*.db

# Configuración de DBeaver y Eclipse
.dbeaver/
.project
.settings/